html{
    width:100%;
    height:100%;
    display:table;
}

body{
    min-height:100%;

    background-color: #1e1e2f;
    color:#ffffff;
}

/*------------------------------------------------------------------------mainpagepart--------------------------------------------------------------------------------------------------*/

@media screen and (max-height:450px) {
    .sidebar {padding-top: 0.6vh;}
    .sidebar a {font-size: 7.2vh;}
    .sidebar {width:2vw;}
}

.container{
    max-height: 100vh;
    margin:5vh;
    max-width:95vw;
    padding:5px;
    margin-top:1vmax;
}

#main{
    transition: 0.5s;
    margin-left:5.4vmax;
}

.row{
    margin-left:0;
}


/*------------------------------------------------------------------------sidebarstuff-------------------------------------------------------------------------------------------------*/

.sidebar{
    height:100vh;
    width:4.5vmax;
    position:fixed;
    z-index: 1;
    top:0;
    left:0;
    background: linear-gradient(to bottom, #fd5d92 0%, #ec250d 100%);
    overflow-x: hidden;
    padding-top:10vh;
    white-space: nowrap;
    transition: 0.5s;
}

.sidebar a{
    padding:1.4vh 1.4vh 1.4vh 1.5vmax;
    text-decoration: none;
    display:block;
    color:#ffffff;
    font-size:1.4vmax;
    transition: 0.5s;
}

.sidebar-icons{
    padding-bottom:1.1vh;
    margin-bottom:1.7vh;
    margin-right:2vw;
}

/*---------------------------------------------------------------------------cardstuff----------------------------------------------------------------------------------------------------*/

.card{
    text-align:left;
    /* margin-left:3.4vmax; */
    margin-bottom:2.4vmax;
    margin-right:1vmax;
    border-radius: 5px;

    background-color: #27293d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-body{
    padding:1vmax;
    padding-bottom:0;
}

.card-title{
    font-size: 1.5vmax;
    font-family: 'Poppins',sans-serif;

    margin-bottom:0.5vmax;

    transition: all 0.5s;
}

.card-text{
    padding-top: 1vmax;
    font-size: 6vmax;
    text-align: center;
}

.dash-icon{
    margin-right:0.5vmax;
    color:#fff;
}

.xs{
    width:15vmax;
    height:15vmax;
}

.no_of_parked{
    font-size:20vh;
    text-align: center;
    position: fixed;
}

.sensor{
    width:43vmax;
    height:24vmax;
    padding:20px 30px 3.3vmax 20px;
}

.graph-title{
    font-size:1.5vmax;
    font-family:'Poppins',sans-serif;
    margin-bottom:0.5vmax;

    transition:all 0.5s
}

.sens-graph{
    padding-top:25px;
}

/*---------------------------------------------------------------------------switches------------------------------------------------------------------------------------------------------*/

.controls{
    width:91vmax;
    height:auto;
}

.control-title{
    font-size:2.5vmax;

}

.switches {
    list-style: none;
    padding: 0;
    margin-left:10vmax;
}

.switch{
    margin:2vmax 3vmax;

}

.status{
    font-size:2vmax;
    height:10vmax;
    line-height:6.4vmax;
    text-align: center;
    padding-top:1.8vmax;
    width:10vmax;

    border-radius: 100%;
    color:#fff;
    box-shadow: inset 0 0 0 1px #d7d7d7;
    position:relative;

    cursor: grab;
    -moz-transition: all 0.2s ease-out;
    -o-transition:all 0.2s ease-out;
    -webkit-transition:all 0.2s ease-out;

    transition:all 0.2s ease-out;
}

.status:hover, .status:focus{
    color:#fff;
    box-shadow: inset 0 0 0 2px rgba(255,255,255,0.8);
    transform: scale(1.1);
}

.status.clicked{
    background-color: #fff;
    color:#ec250d;
    border-style: solid;
    border-color: #ec250d;
    transform: scale(1.1);
}

.stat-var{
    font-family: 'Poppins',sans-serif;
    font-size: 1.2vmax;
    margin-left:1vmax;
    margin-bottom:3vmax;
}
/* .panel{
    text-align:left;
    margin-left:50px;
    margin-bottom:100px;
    border-radius: 5px;
    overflow: hidden;

    position:absolute;
    z-index:1;

    background-color: #27293d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    transition: all 0.5s ease-in-out;
}

.dash-title{
    color:#eeeeee;

    padding-top:20px;
    padding-left:20px;
    padding-bottom:25px;

    font-family: 'Poppins',sans-serif;

    transition:all 0.5s;
}*/
